# My files
*.dll
*.bat
*.py
*.txt
Template*
Directory.Build.*
.editorconfig
*REDACTED*

# Files for thunderstore
*/manifest.json
*/*.zip
*/CHANGELOG.md

# Output and enviroment files
*/bin/
*/obj/
*/.vs/
*.sln
*.csproj
*NuGet.Config